.button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .primary-button {
    background-color: #007bff;
    color: white;
  }
  
  .secondary-button {
    background-color: #f0f0f0;
    color: #333;
  }

  .button:hover {
    /* Estilos al pasar el cursor por encima */
    background-color: #ffcc00; /* Cambia el color de fondo */
    color: #333; /* Cambia el color del texto */
  }