body {
    text-align: center;
    
    background-image: url('C:\Users\Hp\OneDrive\Escritorio\Intregador VITE\Rick_and_Morty\src\Images\RICK AND MORTY 4K WALLPAPER FOR PC.png');
    background-attachment: fixed;
   background-size: cover;
 
 }
 
.active {
  color: #0b5ed7 !important;
  font-weight: bold;
  border-bottom: 3px solid #0b5ed7;
}