.wrapperCard{
    background-color: rgb(118, 129, 235);
    width: 320px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    position: relative;
    -webkit-box-shadow: -16px 17px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -16px 17px 19px -3px rgba(0,0,0,0.75);
    box-shadow: -16px 17px 19px -3px rgba(0,0,0,0.75);

}

.btn{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    background-color: gray;
}

